
.navbar {
  padding: 10px 20px;
}
/*
.nav-link {
  color: #120808 ;
  margin: 0 10px;
  transition: 0.3s;
}
*/
.navbar-nav .nav-link {
  margin: 0 25px;   
}
.nav-link-custom {
  color: black !important;     /* couleur de police noire */
  transition: color 0.3s ease; /* petite animation fluide */
}

.nav-link-custom:hover {
  color: red !important;       /* devient rouge au hover */
}
