/* Style du body */
/* Style des titres h1, h2, h3, h4, h5, h6 */
/* Style des paragraphes */

/*NavBar*/
/*Banner*/

/*About*/
/*Experience*/
/*Skills*/
/*Projects*/
/*Education*/
/*Licenses & Certifications*/
/*Blogs*/
/*Contact me*/
/* Style du footer */

       
       