/* Style du body */
/* Style des titres  */
h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}
/* Style des paragraphes */
/* Style des sections about , experience */
section {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

/*NavBar*/
/*Banner*/

/*About*/
/*Experience*/
/*Skills*/
/*Projects*/
/*Education*/
/*Licenses & Certifications*/
/*Blogs*/
/*Contact me*/
/* Style du footer */

       
       